name: CI

on:
  push:
    branches:
      - master
      - integration
      - experimental*
      - release_*
      - ci*
      - pci*

    tags:
      - v*
  pull_request:
  workflow_dispatch:
    inputs:
      workflow_branch:
        description: branch to use
        required: true
        type: string
  repository_dispatch:
    types:
      - metwork-trigger*

env:

#    DOCKER_RUN_OPTIONS: "-v ${{ github.workspace }}:/src -e GITHUB_REF -e GITHUB_RUN_NUMBER -e GITHUB_SHA -e GITHUB_REPOSITORY"
    WORKFLOW_SCRIPTS_DIR: .github/workflows
    DOCKER_WORKFLOW_SCRIPTS_DIR: /src/.github/workflows
    PAYLOAD_BRANCH: ${{ github.event.client_payload.branch }}
    PAYLOAD_OS: ${{ github.event.client_payload.os }}
    WORKFLOW_BRANCH: ${{ github.event.inputs.workflow_branch }}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - rockylinux:8.5
          - rockylinux:8.6
          - rockylinux:8.7
          - rockylinux:8.8
          - rockylinux:8.9
          - rockylinux/rockylinux:8.10
          - rockylinux:9.0
          - rockylinux:9.1
          - rockylinux:9.2
          - rockylinux:9.3
          - rockylinux/rockylinux:9.4
          - rockylinux/rockylinux:9.5
          - rockylinux/rockylinux:9.6
          - rockylinux/rockylinux:10.0
          - fedora:34
          - fedora:35
          - fedora:36
          - fedora:37
          - fedora:38
          - fedora:39
          - fedora:40
          - fedora:41
          - fedora:42
          - fedora:43
    container:
      image: ${{ matrix.container }}
    steps:
      - name: install sudo
        run: |
          yum -y install sudo sudo findutils mlocate
      - name: Aggressive cleanup
        #from https://dev.to/mathio/squeezing-disk-space-from-github-actions-runners-an-engineers-guide-3pjg
        run: |
          echo "available disk before"
          df -h
          # Remove Java (JDKs)
          cd /
          sudo locate jvm
          sudo rm -rf /usr/lib/jvm
          # Remove .NET SDKs
          sudo locate dotnet
          sudo rm -rf /usr/share/dotnet
          # Remove Swift toolchain
          sudo locate swift
          sudo rm -rf /usr/share/swift
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
          # Remove Julia
          sudo rm -rf /usr/local/julia*
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
          # Remove Azure CLI
          sudo rm -rf /opt/az
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
          echo "available disk after"
          df -h
      - name: install git fedora
        if: ${{ startsWith(matrix.container, 'fedora:') }}
        run: |
          yum -y install git gawk
      - name: install git rocky
        if: ${{ startsWith(matrix.container, 'rockylinux:') }}
        run: |
          yum -y install git
      - name: install git alma
        if: ${{ startsWith(matrix.container, 'almalinux:') }}
        run: |
          yum -y install git
      - name: install git centos-stream
        if: ${{ startsWith(matrix.container, 'dokken/centos-stream') }}
        run: |
          yum -y install git
      - name: install git opensuse
        if: ${{ startsWith(matrix.container, 'opensuse') }}
        run: |
          zypper -n install git
      - name: install git mageia
        if: ${{ startsWith(matrix.container, 'mageia:') }}
        run: |
          yes |urpmi lib64apr1_0 lib64apr-util1_0 git
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.client_payload.branch || github.event.inputs.workflow_branch || github.ref }}
      - name: set variables
        id: SetVariables
        run: |
          ${WORKFLOW_SCRIPTS_DIR}/set_variables.sh
      - name: integration_tests
        if: ${{ steps.SetVariables.outputs.branch != 'null' }}
        run: |
          export REPOSITORY=${{ steps.SetVariables.outputs.repository }}
          export IMAGE=${{ matrix.container }}
          export BRANCH=${{ steps.SetVariables.outputs.branch }}
          export SECRET=${{ secrets.METWORK_ACCESS_TOKEN }}
          ${WORKFLOW_SCRIPTS_DIR}/integration_tests.sh

